[
  {
    "layer": "top",
    "position": "top",
    "name": "top",
    "height": 37,
    "spacing": 8,
    "modules-left": [
      "custom/launcher",
      "hyprland/window",
      "hyprland/workspaces"
    ],
    "modules-right": [
      "mpd",
      "idle_inhibitor",
      "temperature",
      "cpu",
      "memory",
      "network",
      "custom/bluetooth",
      "pulseaudio",
      "keyboard-state",
      "tray",
      "clock"
    ],
    "hyprland/workspaces": {
      "format": "{name}",
      "sort-by": "number",
      "persistent-workspaces": {
        "*": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10
        ]
      },
      "workspace-taskbar": {
        "enable": true,
        "update-active-window": true,
        "icon-size": 16,
        "on-click-window": "hyprctl dispatch focuswindow address:{address} | grep -q '^ok$' || hyprctl dispatch 'hl.dsp.focus({ window = \"address:{address}\" })'"
      }
    },
    "hyprland/window": {
      "format": "{class}",
      "max-length": 20,
      "rewrite": {
        "^(?!.*\\S).*": "Finder"
      }
    },
    "custom/launcher": {
      "format": "\ud83d\udd0d",
      "on-click": "hyprlauncher",
      "tooltip": false
    },
    "keyboard-state": {
      "numlock": true,
      "capslock": true,
      "format": "{name} {icon} ",
      "format-icons": {
        "locked": "\uf023",
        "unlocked": "\uf09c"
      }
    },
    "sway/mode": {
      "format": "<span style=\"italic\">{}</span>"
    },
    "sway/scratchpad": {
      "format": "{icon} {count}",
      "show-empty": false,
      "format-icons": [
        "",
        "\uf2d2"
      ],
      "tooltip": true,
      "tooltip-format": "{app}: {title}"
    },
    "mpd": {
      "format": "\uf001  {title} - {artist} {stateIcon} [{elapsedTime:%M:%S}/{totalTime:%M:%S}] {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}[{songPosition}/{queueLength}] [{volume}%]",
      "format-disconnected": "\uf001 Disconnected",
      "format-stopped": "\uf001 {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped",
      "unknown-tag": "N/A",
      "interval": 2,
      "consume-icons": {
        "on": "\uf0c4 "
      },
      "random-icons": {
        "on": "\uf074 "
      },
      "repeat-icons": {
        "on": "\uf01e "
      },
      "single-icons": {
        "on": "\uf01e1 "
      },
      "state-icons": {
        "paused": "\uf04c",
        "playing": "\uf04b"
      },
      "tooltip-format": "MPD (connected)",
      "tooltip-format-disconnected": "MPD (disconnected)",
      "on-click": "mpc toggle",
      "on-click-right": "foot -a ncmpcpp ncmpcpp",
      "on-scroll-up": "mpc volume +2",
      "on-scroll-down": "mpc volume -2"
    },
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": "\uf06e",
        "deactivated": "\uf070"
      }
    },
    "tray": {
      "spacing": 10
    },
    "clock": {
      "format": "{:%A %B %d %H:%M %p}",
      "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "\uf2db  {usage}%",
      "on-click": "alacritty -e btop"
    },
    "memory": {
      "format": "\uf0c9 {}%"
    },
    "temperature": {
      "thermal-zone": 2,
      "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
      "critical-threshold": 80,
      "format-critical": "{icon} {temperatureC}\u00b0C",
      "format": "{icon} {temperatureC}\u00b0C",
      "format-icons": [
        "\uf76b",
        "\uf2c9",
        "\uf769"
      ]
    },
    "network": {
      "format-wifi": "{essid} ({signalStrength}%) \uf1eb",
      "format-ethernet": "\uf796 {ifname}",
      "tooltip-format": "\uf796 {ifname} via {gwaddr}",
      "format-linked": "\uf796 {ifname} (No IP)",
      "format-disconnected": "Disconnected \u26a0 {ifname}",
      "format-alt": "\uf796 {ifname}: {ipaddr}/{cidr}"
    },
    "custom/bluetooth": {
      "exec": "{{ .chezmoi.homeDir }}/.local/bin/bt-reconnect.sh --status",
      "interval": 10,
      "signal": 3,
      "on-click": "{{ .chezmoi.homeDir }}/.local/bin/bt-reconnect.sh",
      "return-type": "json",
      "tooltip": true
    },
    "pulseaudio": {
      "scroll-step": 5,
      "format": "{icon}  {volume}% {format_source}",
      "format-bluetooth": "\uf294 {icon} {volume}% {format_source}",
      "format-bluetooth-muted": "\uf6a9 \uf294 {icon} {format_source}",
      "format-muted": "\uf6a9  {format_source}",
      "format-source": "\uf130 {volume}%",
      "format-source-muted": "\uf131",
      "format-icons": {
        "default": [
          "\uf026",
          "\uf027",
          "\uf028"
        ]
      },
      "on-click": "pavucontrol",
      "on-click-right": "foot -a pw-top pw-top",
      "on-scroll-down": "pactl set-sink-volume @DEFAULT_SINK@ -5%",
      "on-scroll-up": "pactl set-sink-volume @DEFAULT_SINK@ +5%"
    }
  },
  {
    "layer": "top",
    "position": "bottom",
    "name": "bottom",
    "height": 41,
    "width": 2,
    "modules-left": [
      "custom/os_button"
    ],
    "modules-center": [
      "sway/mode",
      "wlr/taskbar"
    ],
    "margin": "4",
    "spacing": "5",
    "sway/window": {
      "max-length": 50
    },
    "custom/os_button": {
      "format": "\ud83d\udd0d",
      "on-click": "wofi --show drun",
      "tooltip": false
    },
    "wlr/taskbar": {
      "format": "{icon}",
      "icon-size": 36,
      "spacing": 3,
      "on-click-middle": "close",
      "tooltip-format": "{title}",
      "ignore-list": [],
      "on-click": "activate"
    }
  }
]